[tool.bumpversion]
current_version = "0.0.6"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
tag = false
sign_tags = false
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = false
commit = false
message = "Bump version: {current_version} → {new_version}"
commit_args = ""

[[tool.bumpversion.files]]
filename = "setup.py"

[[tool.bumpversion.files]]
filename = ".bumpversion.toml"

[[tool.bumpversion.files]]
filename = "docassemble/SMPDecisionTree/__init__.py"

[[tool.bumpversion.files]]
filename = "docassemble/SMPDecisionTree/data/questions/software.yml"

[[tool.bumpversion.files]]
filename = "CITATION.cff"
